@import '~bootstrap/scss/bootstrap';

body {
  background: lightgray;
  text-align: center;
}

.card-title{
  font-size: 40px;
}
.card{
  margin: 20px 1%;
  width: 18%;
  display:flex;
  background: none;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content:  space-between;
  align-items: center;
}
.btn{
  width: 200px;
  margin: 0 auto;

}
.post-list{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;

}
.post{
  width: 70%;
  margin: 20px auto;
  .card-img{
    width: 500px;
    margin: 0 auto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
