.ps-card-container {
    display: flex;
    justify-content: center;
}

.ps-card {
    border:none;
    width: 50%;
}

.ps-title {
    color: #FF851A;
    font-size: 28px;
    text-align: left;
    padding: 15px 0 0 15px;
}

.ps-text {
    text-align: left;
    padding-left: 15px;
}

.ps-button {
    width: 65px;
    justify-content: flex-end;
    border: none;
    background-color: #FF851A;
}