.card.post-card {
    border: none;
    li {
        list-style-type: disc;
        list-style-position: inside;
        text-indent: -1.4em;
        padding-left: 1.4em;
    }
}


.ps-card.p-page {
    width: 90%;
}
.post-card {
    text-align: left;
    font-size: 20px;
}

.p-header {
    display: flex;
    justify-content: space-between;
}

.p-title {
    color: #ff851a;
    font-size: 35px;
    width: 70%;
}

.review-count.post-review {
    margin-top: 7px;
}

.p-created {
    display: flex;
}

.p-user {
    padding-right: 20px;
}

.p-rating {
    display: flex;
}

.p-description {
    margin: 2rem 0;
}

.post-category {
    color: #ff851a;
    font-size: 25px;
    padding-bottom: 0;
}

.p-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #8F8F8F;
    border-bottom: 1px solid #8F8F8F;
    margin-top: 50px;
}

.p-content-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 40px 0;
}

.p-content-label {
    color: #ff851a;
    font-size: 25px;
}

//2nd class name for tags on post-page
.post-page {
    margin-left: 10px;
}

.post-page span {
    padding: 5px 15px;
    border-radius: 20px;
    margin: 15px 15px 20px 10px;
    color: #746D6D;
    border: 1px solid #746D6D;
}

.edit-button {
    background: #FF851A;
    border: 1px solid white;
    width: 80px;
    font-size: 16px;
    margin: 10px 0 0 10px;
}

.delete-button {
    color: #FF851A;
    background-color: white;
    border: 1px solid #FF851A;
    width: 80px;
    font-size: 16px;
    margin: 10px 0 0 10px;
}