.account-buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.logout-button {
    padding: 0 20px;
}

.account-header {
    border-bottom: 1px solid #979797;
    padding-bottom: 20px;
}