@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints"; 

.account-buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    margin-top: 30px;
    font-family: "Nunito", sans-serif;
}

.logout-button {
    padding: 0 20px;
    background: #FF851A;
    border: none;
    margin-left: 15px;
}

.create-button {
    color: #FF851A;
    background-color: white;
    border: 1px solid #FF851A;
}

.account-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid #979797;
    margin-top: 30px;
    margin-bottom: 20px;

    h2 {
        font-weight: bold;
    }
 
    @include media-breakpoint-down(sm) { 
        margin-left: 20px;
        margin-right: 20px;
    }
}

.account-posts {
    display:flex;
    padding-top: 30px;
    font-family: "Nunito", sans-serif;
    p {
        font-size: 25px;
    }

    span {
        color: gray;
        font-size: 18px;
    }
}
