// THEME COLORS
@theme-colors: (
  orange: #FF851A
)


div.bar-container {
  margin: 0 auto;
  width: 75%;
}

.bar-grid {
  display: grid;
  grid-template-columns: 12.5% 82.5% 5%;
  grid-row-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

  @media screen and (max-width: 500px) {
    grid-template-columns: 40% 45% 20%;
    margin-right: 4%;
  }
}

.bg-orange {
  background-color: #ff851a;
}

.review-label {
  margin: 0 10px 0 0;
  text-align: right;
  font-family: "Nunito", sans-serif;
  @media screen and (max-width: 500px) {
    margin-right: 15px;
  }
}

.review-count {
  margin: 0 10px;
  font-family: "Nunito", sans-serif;
}

.progress {
  height: 30px;
}

.progress-bar {
  height: 30px;
}
