//Parent Container for proper flexbox
.review-div {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

//Section Title
.review-header {
  color: #ff851a;
  border-bottom: 2px solid #bfbfbf;
  margin: 20px 0;
  padding-bottom: 15px;
  padding-left: 138px;
  text-align: left;
  font-weight: normal;
  font-family: "Nunito", sans-serif;
  @media screen and (max-width: 500px) {
    text-align: left;
    padding-left: 10%;
    margin: 0 18px;
  }
}

//ReviewForm Styling
.review-form {
  border: 1px solid #ff851a;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  width: 70%;
  @media (max-width: 430px) {
    width: 82%;
}
  .form-group {
    margin-bottom: 1rem;
  }
}

.rf-title {
  color: #ff851a;
  text-align: left;
  padding-left: 15px;
  margin: 0;
}

.stars-container {
  display: flex;
  padding-left: 14px;
  width: 90%;
}

.review-stars {
  font-size: 30px;
}

.rf-text {
  width: 95%;
  margin-left: 2.5%;
}

.rf-btn-container {
  display: flex;
  justify-content: flex-end;
}

.rf-button {
  background-color: #ff851a;
  width: 70px;
  border: none;
  margin: 20px 20px 20px 530px;

  @media (max-width: 430px) {
    margin: 20px;
    width: 30%;
}
}

//Review Card Styling
.r-cards {
  width: 70%;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  font-size: 18px;
}

.r-content {
  display: flex;
  text-align: left;
  padding: 0;
}

.r-text {
  padding: 0 15px 30px 15px;
  width: 90%;
  font-family: "Nunito", sans-serif;
}

.r-poster {
  text-align: left;
  padding: 15px 0 0 15px;
  margin: 0;
  width: 90%;
  font-family: "Nunito", sans-serif;
}

.r-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0 15px 15px 0;
}

.r-button {
  background-color: white;
  color: #ff851a;
  width: 70px;
  border: none;
  font-size: 14px;
  
}
