@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints"; 

// Media Queries
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;
}

@include media-breakpoint-down(sm) {
  .container {
    padding-left:  0.2px;
    padding-right: 0.2px;
    .cta-content-mobile{
      margin-top: 0;
    }
  }
}


///////////// CTA ///////////////////

.cta-content {
  display: flex;
  padding: 0 5%;
  width: 110%;
  background-color: #ffdec2;
  overflow: hidden;
  position: relative;
  right: 5%;
  @include media-breakpoint-down(sm) {
    display: none;
  }

  .p-and-btn {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 60px 10px;
    @include media-breakpoint-down(md) {
      p {
        font-size: 1.2rem;
        line-height: 1.8rem;
      }
    }
    @include media-breakpoint-down(sm) {
      overflow: hidden;
      margin: 10px;
    }
  }
}

.cta-content-mobile {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
    background-image: url("../images/bee-img-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    padding: 0;
  }

  .p-and-btn-mobile {
    display: block;

    h1 {
      text-align: center;
      color: white;
      font-family: "Nunito", sans-serif;
      font-size: 30px;
    }
    h2 {
      color: white;
      font-family: "Nunito", sans-serif;
      font-size: 50px;
      text-align: center;
    }
    .join-btn-div-mobile {
      text-align: center;
    }
    .join-btn-mobile {
      font-family: "Nunito", sans-serif;
      background-color: #ff851a;
      font-size: 20px;
      line-height: 27px;
      color: white;
      width: 112px;
      border: none;
      margin: 0;
    }

    @media (max-width: 430px) {
      background-size: 100%;
      padding: 18% 12%;
      h1 { 
        font-size: 25px;
      }
      h2 {
        font-size: 30px;
        line-height: 50px;
      }
    }

    @media (max-width: 380px) { 
      padding: 15% 8%;
    }

    @media (max-width: 325px) {
      padding: 15% 9%;
      h1 { 
        font-size: 20px;
      }
      h2 {
        font-size: 25px;
        line-height: 40px;
      }
    }
  }
}

.cta-text1 {
  font-family: "Nunito", sans-serif;
  color: #494949;
  font-weight: bold;
  font-size: 40px;
  text-align: left;
  line-height: 54px;
  padding-left: 5px;
  padding-right: 50px;
  padding-bottom: 10px;
  @include media-breakpoint-down(sm) {
    overflow: hidden;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 0px;
  }
}

.cta-text2 {
  font-family: "Nunito", sans-serif;
  color:  #494949;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  margin-right: 50px;
  padding-bottom: 20px;
  @include media-breakpoint-down(sm) {
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 10px 0;
  }
}

.join-btn-div {
  width: 100%;
  color:  #ff851a;
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.join-btn {
  font-family: "Nunito", sans-serif;
  background-color: white;
  font-size: 20px;
  line-height: 27px;
  color: #ff851a;
  width: 112px;
  border: 1px solid #ff851a;
  margin: 0;
  float: left;
}

.bee-img {
  margin-right: -30px;
  width: 50%;
  float: right;
}

///////////// UPPER CONTENT ////////////////

.upper-content {
  width: 90%;
  margin: 30px auto 50px auto;

  .mobile-logo {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    .mobile-logo {
      display: inline-block;
      height: 83px;
      width: 199px;
    }
  }
  .join-btn2-div {
    position: absolute;
    right: 0;
    left: 52%;
    margin: -40px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    @media (max-width: 430px) {
      position: absolute;
      left: 55%;
    }
    @media (max-width: 380px) {
      position: absolute;
      left: 57%;
    }
    @media (max-width: 330px) {
      position: absolute;
      left: 59%;
    }
    }
  
  .join-btn2{
    @media (max-width: 430px) {
      width: 112%;
     }

    font-family: "Nunito", sans-serif;
    font-weight: 700;
    width: 250px;
    height: 50px;
    line-height: 50px;  
    background-color: #FF851A;
    border-radius: 8px;
    color: #fff;
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-name: hover;
    animation-name: hover;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    &:before{
      pointer-events: none;
        position: absolute;
        z-index: -1;
        content: '';
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: -webkit-transform, opacity;
        transition-property: transform, opacity;
        opacity: .4;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
        -webkit-animation-name: hover-shadow;
        animation-name: hover-shadow;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
    }
      &:hover{
          background-color: #e16e50;
      }
  }
  
  @keyframes hover {
    50% {
      -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      transform: translateY(-3px);
    }
  
    100% {
      -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  
  @-webkit-keyframes hover-shadow {
    0% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
      opacity: .4;
    }
  
    50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
      opacity: 1;
    }
  
    100% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
      opacity: .4;
    }
  }
  
  @keyframes hover-shadow {
    0% {
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
      opacity: .4;
    }
  
    50% {
      -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
      transform: translateY(3px);
      opacity: 1;
    }
  
    100% {
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
      opacity: .4;
    }
  }
  
  @-webkit-keyframes hover {
    50% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }
  
    100% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }

  .join-btn3-div {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
      text-align: center;
      margin-top: 60px;
    }
  }

  .join-btn3 {
    font-family: "Nunito", sans-serif;
    background-color: #ff851a;
    font-size: 30px;
    line-height: 41px;
    color: white;
    width: 90%;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

#one {
  padding: 20px 60px 50px 40px;

  .img-content {
    margin-right: 15%;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
    padding-top: 65px;
    padding-bottom: 35px;
  }
  @media (max-width: 430px) {
    .img-content {
      align-self: center;
      margin-right: 0%;
      width: 70%;
    }
    padding-top: 30px;
    padding-right: 0px;
    padding-left: 0px;
  }

}
#two {
  flex-direction: row-reverse;
  padding: 50px 0;
  border-top: 1px solid #ff851a;
  border-bottom: 1px solid #ff851a;

  .img-content {
  margin-right: 6%;
  }

  .text-content {
    margin-right: 7%;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
    border: none;
    padding: 35px 0 35px 0;
  }

  @media (max-width: 430px) {
    .img-content {
      margin-right: 0%;
        align-self: center;
        margin-right: 0%;
        width: 80%;
      }
      .text-content {
        margin-right: 0%;
    }
  }
}

#three {
  padding: 60px 0 100px 0;

  .text-content {
    padding-left: 40px;
    padding-right: 40px;
  }

  .post-example {
    margin-left: 30px;
    margin-right: 110px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
    padding-top: 35px;
    padding-bottom: 110px;
  }
  @media (max-width: 430px) {
    .text-content {
      padding-left: 0px;
      padding-right: 0px;
    }
    .post-example {
      margin-left: 0px;
      margin-right: 0px;
    }
    .img-content {
        align-self: center;
        width: 65%;
      }
  }
}

.upper-content-section {
  width: 100%;
  display: flex;

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
  }

  .text-content {
    align-self: center;
    width: 100%;
  }

  .category-example {
    height: 280px;
    width: 269px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    @media (max-width: 430px) {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
    @media (max-width: 380px) {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
    @media (max-width: 325px) {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  .review-example {
    height: 200px;
    width: 355px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.4);
    @media (max-width: 430px) {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
    @media (max-width: 380px) {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
    @media (max-width: 325px) {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  .post-example {
    height: 292px;
    width: 263px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    @media (max-width: 430px) {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
    @media (max-width: 380px) {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
    @media (max-width: 325px) {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  h3 {
    font-family: "Nunito", sans-serif;
    color: #ff851a;
    font-size: 30px;
    font-weight: bold;

    @include media-breakpoint-down(sm) {
      text-align: center;
      font-size: 30px;
      line-height: 41px;
    }
  }

  p {
    padding: 5px;
    font-family: "Nunito", sans-serif;
    color: #494949;
    font-size: 20px;
    line-height: 27px;
    text-align: left;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }
}

/////////// MIDDLE CONTENT ///////////

.middle-content {
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;

  @include media-breakpoint-down(sm) {
    margin: 0 auto;
    width: 90%;
    border-top: 2px solid #979797;
    border-bottom: 2px solid #979797;
  }

  h2 {
    text-align: center;
    margin: 30px auto;
    padding: 20px 0;
    color: #ff851a;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    @include media-breakpoint-down(sm) {
      font-size: 35px;
    }
    @media (max-width: 380px) {
      font-size: 30px;
    }
  }

  h3 {
    color: #ff851a;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    line-height: 41px;
    @include media-breakpoint-down(sm) {
      font-size: 25px;
    }
    @media (max-width: 380px) {
      font-size: 22px;
    }
  }
  p {
    font-family: "Nunito", sans-serif;
    color: #494949;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
}

.middle-content-section {
  @include media-breakpoint-down(sm) {
    margin-top: 40px;
  }
}

.middle-content-main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 0 13%;
  padding-bottom: 75px;

  .iphone-div {
    align-self: center;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 4%;
  }
}

.iphone-img {
  width: 200px;
  height: 400px;

  @include media-breakpoint-down(sm) {
    height: 320px;
    width: 165px;
  }
}

.middle-content-main2 {
  padding-left: 88px;

  @include media-breakpoint-down(sm) {
    padding-left: 0px;
  }

  @media (max-width: 415px) {
    h3 {
      font-size: 24px;
    }
  }


  .mobile-store {
    margin-top: 25px;
    text-align: left;
    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-bottom: 60px;
    }

    .mobile-store-btn {
      @include media-breakpoint-down(sm) {
        text-align: center;
        height: 43.2px;
        width: 157.61px;
      }
    }
  }
}

//////////// BOTTOM CONTENT //////////////

.bottom-content {
  padding-bottom: 60px;

  h2 {
    text-align: center;
    font-weight: bold;
    margin: 40px 0;
    padding-top: 30px;
    color: #ff851a;
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    line-height: 54px;
    @include media-breakpoint-down(sm) {
      margin: 20px 0;
    }
  }

  h3 {
    padding-top: 15px;
    margin-bottom: 0px;
    color: #ff851a;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    line-height: 41px;
  }
  h4 {
    font-family: "Nunito", sans-serif;
    color: #494949;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
  }
}

.bottom-content-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 100px;
    #kevin {
      grid-column: 1;
     }
  }
}

.bottom-content-section {
  width: 100%;
  padding: 40px;

  @include media-breakpoint-down(sm) {
    width: 75%;
    padding: 0px;
    margin: 90px auto;
    border: 1px solid #ff851a;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);

    .about-img {
      height: 75px;
    }

    .about-info {
      padding: 40px 0;
    }

    h3 {
      padding: 0px;
    }
    h4 {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  p {
    margin-right: 10px;
    font-family: "Nunito", sans-serif;
    color: #494949;
    text-align: left;
    font-size: 20px;
    line-height: 27px;
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
  }

  .profile-img {
    width: 152px;
    height: 152px;
  }

  @include media-breakpoint-down(sm) {
    .profile-img {
      height: 216px;
      width: 216px;
      position: relative;
      top: -125px;
    }
  }
}

#kevin {
 grid-column: 2;
}


