
.join-btn-div-mobile {
    .join-btn {
        font-family: "Nunito", sans-serif;
        background-color: #ff851a;
        font-size: 20px;
        line-height: 27px;
        color: white;
        width: 112px;
        border: none;
        margin: 0;
        color: white;
        :hover{
            
            color:#ff851a;
            background-color: white; 
        }
    }
}